@font-face {
  font-family: "Alegreya Sans Black";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Black.ttf");
}
@font-face {
  font-family: "Alegreya Sans Black Italic";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-BlackItalic.ttf");
}
@font-face {
  font-family: "Alegreya Sans Bold";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Bold.ttf");
}
@font-face {
  font-family: "Alegreya Sans Bold Italic";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-BoldItalic.ttf");
}
@font-face {
  font-family: "Alegreya Sans ExtraBold";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Alegreya Sans ExtraBold Italic";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "Alegreya Sans Italic";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Italic.ttf");
}
@font-face {
  font-family: "Alegreya Sans Light";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Light.ttf");
}
@font-face {
  font-family: "Alegreya Sans Light Italic";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-LightItalic.ttf");
}
@font-face {
  font-family: "Alegreya Sans Medium";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Medium.ttf");
}
@font-face {
  font-family: "Alegreya Sans Regular";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Regular.ttf");
}
@font-face {
  font-family: "Alegreya Sans Thin";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-Thin.ttf");
}
@font-face {
  font-family: "Alegreya Sans Thin Italic";
  font-style: normal;
  src: url("../vendor/alegreya_sans/AlegreyaSans-ThinItalic.ttf");
}
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
.padding-side-0 {
  padding-right: 0;
  padding-left: 0;
}
.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
.strip {
  padding: 0 !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}
.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 10px;
}
.spacer-30 {
  height: 10px;
}
.spacer-40 {
  height: 10px;
}
.spacer-50 {
  height: 10px;
}
.spacer-60 {
  height: 10px;
}
.spacer-70 {
  height: 10px;
}
.spacer-80 {
  height: 10px;
}
.spacer-90 {
  height: 10px;
}
.spacer-100 {
  height: 10px;
}
.spacer-120 {
  height: 10px;
}
.spacer-140 {
  height: 10px;
}
.spacer-160 {
  height: 10px;
}
.spacer-180 {
  height: 10px;
}
.spacer-200 {
  height: 10px;
}
.row-centered {
  text-align: center;
}
[class*="col-centered-"] {
  display: block;
  float: none;
/* reset the text-align */
  text-align: left;
/* inline-block space fix */
  margin-right: -4px;
}
@media (min-width: 768px) {
  .col-centered-sm {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .col-centered-md {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .col-centered-lg {
    display: inline-block;
  }
}
body {
  background: #336;
}
.section {
  min-height: 100vh;
}
.spacer-120px {
  height: 120px;
}
.spacer-50px {
  height: 50px;
}
.spacer-20px {
  height: 20px;
}
.spacer-25px {
  height: 25px;
}
.last-spacer {
  height: 50vh;
}
.nav-first {
  background: #336;
  border: 0;
  padding: 0;
  margin: 0;
}
.nav-first .icon {
  padding: 5px;
}
.nav-first .phone {
  font-family: "Alegreya Sans Light";
  letter-spacing: 2px;
  font-size: 22pt;
  padding: 12px 10px;
  color: #fff;
}
.nav-first .open {
  font-family: "Alegreya Sans Light";
  font-size: 22pt;
  color: #fff;
  padding: 17px 10px;
}
.nav-first .glyph-icon {
  color: #fff;
  padding: 17px 10px;
}
.nav-second {
  background-color: #336;
  border: 0;
  border-radius: 0;
  min-height: auto;
  position: relative;
  top: 0;
  font-size: 22pt;
  width: auto;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand {
  padding: 0 15px;
  height: 130px;
}
.nav-second .navbar-nav li a,
.nav-first .navbar-nav li a {
  font-family: "Alegreya Sans Light";
  letter-spacing: 2px;
  color: #fff !important;
}
.nav-hint {
  font-family: "Alegreya Sans Thin";
  font-size: 28pt;
  color: #fff;
  transition: all 400ms ease;
}
.nav-hint:hover {
  font-size: 32pt;
}
.ft-hero {
  font-family: "Alegreya Sans ExtraBold";
  font-size: 60pt;
  color: #fff;
}
.ft-sidekick {
  font-family: "Alegreya Sans ExtraBold";
  font-size: 40pt;
  color: #fff;
}
.ft-sidekick2 {
  font-family: "Alegreya Sans ExtraBold";
  font-size: 32pt;
  color: #fff;
}
.first-section {
  min-height: calc(100vh - 166px);
  position: relative;
}
.hint-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.hide-clr-background {
  color: #336;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#about {
  position: relative;
}
.about-row {
  background: #fff;
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.about-text {
  font-family: "Alegreya Sans Light";
  font-size: 14pt;
  padding-top: 10px;
}
.about-love {
  list-style-type: none;
}
.about-love-text {
  color: #4f5e66;
  font-family: "Alegreya Sans Light";
  font-size: 28pt;
}
.about-love-item {
  font-family: "Alegreya Sans Light";
  font-size: 18pt;
  margin-top: -5px;
}
.about-pics {
  background: #bcbcbc;
}
#projects {
  position: relative;
}
#projects a {
  color: inherit;
}
#projects a:hover {
  color: inherit;
}
.projects-item {
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin: 10px;
  border-radius: 8px;
}
.projects-item .projects-item-title {
  font-family: "Alegreya Sans Bold";
  font-size: 20pt;
  padding-left: 10px;
  padding-right: 10px;
}
.projects-item .projects-item-text {
  font-family: "Alegreya Sans Light";
  font-size: 14pt;
  padding-left: 10px;
  padding-right: 10px;
}
.projects-item .projects-item-date {
  witdh: 100%;
  text-align: right;
  font-family: "Alegreya Sans Light";
  font-size: 12pt;
  color: #797979;
  padding-right: 10px;
}
.projects-item .projects-item-img {
  margin-top: 5px;
  margin-bottom: 5px;
}
#contact {
  position: relative;
}
.contact-row {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact-attn {
  font-family: "Alegreya Sans ExtraBold";
  font-size: 28pt;
  color: #6b6b6b;
}
.contact-msg {
  font-family: "Alegreya Sans Light";
  font-size: 16pt;
}
.contact-items {
  list-style-type: none;
  padding: 0;
  font-family: "Alegreya Sans Regular";
  font-size: 16pt;
}
#contact-form {
  padding-top: 40px;
  padding-bottom: 10px;
}
#ct-name {
  font-family: "Alegreya Sans Medium";
  font-size: 12pt;
}
.form-control {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #808080;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  border-color: #d3d3d3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contact-social {
  padding-top: 5px;
  padding-bottom: 15px;
}
#ct-email {
  font-family: "Alegreya Sans Medium";
  font-size: 12pt;
}
#ct-message {
  font-family: "Alegreya Sans Regular";
  font-size: 12pt;
}
#design {
  position: relative;
}
.design-attn {
  font-family: "Alegreya Sans ExtraBold";
  font-size: 24pt;
}
.design-para {
  font-family: "Alegreya Sans Light";
  font-size: 14pt;
}
#design-intro {
  background-color: #949494;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#design-1 {
  background-color: #a4c3b2;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#design-2 {
  background-color: #9db4c0;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#design-3 {
  background-color: #a35a5a;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#design-4 {
  background-color: #c98ca7;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.endbar-row {
  background: #fff;
  font-family: "Alegreya Sans Light";
  font-size: 14pt;
  padding-top: 15px;
  padding-bottom: 15px;
}
.endbar-links {
  list-style-type: none;
  padding: 0;
  font-family: "Alegreya Sans Regular";
  font-size: 12pt;
  color: #797979;
}
.endbar-links a {
  color: #797979;
}
.endbar-links a:hover {
  color: #797979;
}
@media (min-width: 576px) {
  .ft-hero {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 75pt;
    color: #fff;
  }
  .ft-sidekick {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 55pt;
    color: #fff;
  }
  .ft-sidekick2 {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 40pt;
    color: #fff;
  }
}
@media (min-width: 768px) {
  .nav-second .navbar-nav {
    position: relative;
    right: -50%;
  }
  .nav-second .navbar-nav > li {
    position: relative;
    left: -50%;
  }
  .nav-second .navbar-nav > li a {
    line-height: 126px;
    vertical-align: middle;
    padding: 0 10px;
  }
  .ft-hero {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 75pt;
    color: #fff;
  }
  .ft-sidekick {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 50pt;
    color: #fff;
  }
  .ft-sidekick2 {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 36pt;
    color: #fff;
  }
}
@media (min-width: 992px) {
  .nav-second .navbar-nav > li a {
    padding: 0 25px;
  }
  .ft-hero {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 85pt;
    color: #fff;
  }
  .ft-sidekick {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 56pt;
    color: #fff;
  }
  .ft-sidekick2 {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 36pt;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  .nav-second .navbar-nav > li a {
    padding: 0 24px;
  }
  .ft-hero {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 105pt;
    color: #fff;
  }
  .ft-sidekick {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 70pt;
    color: #fff;
  }
  .ft-sidekick2 {
    font-family: "Alegreya Sans ExtraBold";
    font-size: 48pt;
    color: #fff;
  }
}
